<%- include ('partials/header') %>
  <h1 style="font-size: 3rem; text-align: center; margin-top: 2rem">
    Uploaded Photos
  </h1>
  <% if (photos.length === 0) { %>
    <p style="text-align: center;">No photos uploaded yet.</p>
  <% } else { %>
      <% photos.forEach(function(photo) { %>
        <div class="images">
          <img src="<%= photo.image %>" alt="<%= photo.name %>" width="300">
          <h2><%= photo.name %></h2>
         </div>
        <% }); %>
  <% } %>
  <%- include ('partials/footer') %>
